<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<title>CRUD NODEJS MySQL</title>
</head>
<body>
	<table border aling ="center">
		<thead>
			<tr>
				<th>No.</th>
				<th>Nombre</th>
				<th>Direccion</th>
				<th>Telefono</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			
		</tbody>
	</table>
</body>
</html>