article{
	border-radius: 5px;
	height: 50px;
	margin-top: 10px;
	width: 150px;
	text-align: center;
}
#uno{
	/*si no soporta gradiantes */
	background: red;
	/*Opera*/
	background: -o-linear-gradient(rgba(255,0,0,1), rgba(255,255,0,1));
	/*Safari*/
	background: -webkit-linear-gradient(rgba(255,0,0,1), rgba(255,255,0,1));
	/*Firefox*/
	background: -moz-linear-gradient(rgba(255,0,0,1), rgba(255,255,0,1));
	/*Microsoft -Edge*/
	background: -ms-linear-gradient(rgba(255,0,0,1), rgba(255,255,0,1));
	/*Todos*/
	background: linear-gradient(rgba(255,0,0,1), rgba(255,255,0,1));
}
#dos{
	/*si no soporta gradiantes */
	background: red;
	/*Opera*/
	background: -o-linear-gradient(to left, red,yellow);
	/*Safari*/
	background: -webkit-linear-gradient(to left, red,yellow);
	/*Firefox*/
	background: -moz-linear-gradient(to left,red,yellow);
	/*Microsoft -Edge*/
	background: -ms-linear-gradient(to left, red,yellow);
	/*Todos*/
	background: linear-gradient(to left,red,yellow);
}
#tres{
	/*si no soporta gradiantes */
	background: red;
	/*Opera*/
	background: -o-linear-gradient(to right, red,yellow);
	/*Safari*/
	background: -webkit-linear-gradient(to right, red,yellow);
	/*Firefox*/
	background: -moz-linear-gradient(to right,red,yellow);
	/*Microsoft -Edge*/
	background: -ms-linear-gradient(to right, red,yellow);
	/*Todos*/
	background: linear-gradient(to right,red,yellow);
}
#cuatro{
	/*si no soporta gradiantes */
	background: red;
	/*Opera*/
	background: -o-linear-gradient(to right bottom, red,yellow);
	/*Safari*/
	background: -webkit-linear-gradient(to right bottom, red,yellow);
	/*Firefox*/
	background: -moz-linear-gradient(to right bottom,red,yellow);
	/*Microsoft -Edge*/
	background: -ms-linear-gradient(to right bottom, red,yellow);
	/*Todos*/
	background: linear-gradient(to right bottom,red,yellow);
}
#cinco{
	/*si no soporta gradiantes */
	background: red;
	/*Opera*/
	background: -o-linear-gradient(to left bottom, red,yellow,blue);
	/*Safari*/
	background: -webkit-linear-gradient(to left bottom, red,yellow,blue);
	/*Firefox*/
	background: -moz-linear-gradient(to left bottom, red,yellow,blue);
	/*Microsoft -Edge*/
	background: -ms-linear-gradient(to left bottom, red,yellow,blue);
	/*Todos*/
	background: linear-gradient(to left bottom, red,yellow,blue);
}
#seis{
	/*si no soporta gradiantes */
	background: red;
	/*Opera*/
	background: -o-linear-gradient( 180deg, red,yellow,blue);
	/*Safari*/
	background: -webkit-linear-gradient(180deg, red,yellow,blue);
	/*Firefox*/
	background: -moz-linear-gradient(180deg,red,yellow,blue);
	/*Microsoft -Edge*/
	background: -ms-linear-gradient(180deg, red,yellow,blue);
	/*Todos*/
	background: linear-gradient(180deg,red,yellow,blue);
}
#siete{
	/*si no soporta gradiantes */
	background: red;
	/*Opera*/
	background: -o-repeating-linear-gradient( 45deg, red,yellow,blue);
	/*Safari*/
	background: -webkit-repeating-linear-gradient(45deg, red,yellow,blue);
	/*Firefox*/
	background: -moz-repeating-linear-gradient(45deg,red,yellow,blue);
	/*Microsoft -Edge*/
	background: -ms-repeating-linear-gradient(45deg, red,yellow,blue);
	/*Todos*/
	background: repeating-linear-gradient(45deg,black,white,black 2%);
}
.texto{
	position: relative;
	top: 15px;
}
